<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminDashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="header">
        <div class="notranslate main-name">QLearn</div>
        <div class="notranslate user">Welcome, <span>User</span><a href="#">Logout</a></div>
    </div>
    <div class="main-content">
        <div class="table">
            <div class="table-header">
                <div class="col-1">User</div>
                <div class="col-2">Mobile</div>
            </div>
            <div class="table-row">
                <div class="col-1">User 1</div>
                <div class="col-2"><a href="#">View</a></div>
            </div>
            <div class="table-row">
                <div class="col-1">User 2</div>
                <div class="col-2"><a href="#">View</a></div>
            </div>
            <div class="table-row">
                <div class="col-1">User 3</div>
                <div class="col-2"><a href="#">View</a></div>
            </div>
        </div>
    </div>
</body>
</html>