<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quizDayView.css">
    <title>QLearn - Day's View</title>
</head>
<body>
    <div class="header">
        <div class="notranslate main-name">QLearn</div>
        <div class="notranslate user">Welcome, <span>User</span><a href="#">Logout</a></div>
    </div>
    <div class="main-content">
        <div class="table-1">
            <div class="table-header">
                <div class="col-1">Name</div>
                <div class="col-2">Akhnas</div>
            </div>
            <div class="table-row">
                <div class="col-1">Mobile</div>
                <div class="col-2">9611767705</div>
            </div>
        </div>
        <div class="table-2">
            <div class="table-header">
                <div class="col-3">Days</div>
                <div class="col-4">View</div>
            </div>
            <div class="table-row">
                <div class="col-3">Day 1</div>
                <div class="col-4"><a href="#">View</a></div>
            </div>
            <div class="table-row">
                <div class="col-3">Day 2</div>
                <div class="col-4"><a href="#">View</a></div>
            </div>
            <div class="table-row">
                <div class="col-3">Day 3</div>
                <div class="col-4"><a href="#">View</a></div>
            </div>
            <div class="table-row">
                <div class="col-3">Day 4</div>
                <div class="col-4"><a href="#">View</a></div>
            </div>
            <div class="table-row">
                <div class="col-3">Day 5</div>
                <div class="col-4"><a href="#">View</a></div>
            </div>
        </div>
    </div>
</body>
</html>