<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userPage.css">
    <title class="notranslate">Welcome</title>
</head>
<body>
    <div class="header">
        <div class="notranslate main-name">QLearn</div>
        <div class="notranslate user">Welcome, <span>User</span><a href="#">Logout</a></div>
    </div>
        <div id="google_translate_element"></div>
        <div class="table">
            <div class="table-header">
                <div class="col-1">Day</div>
                <div class="col-2">Quiz</div>
                <div class="col-3">Score</div>
            </div>
            <div class="table-row table-row-1">
                <div class="col-1">Day 1</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-2">
                <div class="col-1">Day 2</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-3">
                <div class="col-1">Day 3</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-4">
                <div class="col-1">Day 4</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-5">
                <div class="col-1">Day 5</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-6">
                <div class="col-1">Day 6</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-7">
                <div class="col-1">Day 7</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-8">
                <div class="col-1">Day 8</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-9">
                <div class="col-1">Day 9</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
            <div class="table-row table-row-10">
                <div class="col-1">Day 10</div>
                <div class="col-2"><a href="#">Attempt</a></div>
                <div class="col-3">Two</div>
            </div>
    </div>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages:'hi,en,ur,kn',
                autoDisplay: 'true',
            }, 'google_translate_element');
        }
    </script>
</body>
</html>